.main{
    display: flex;
    justify-content: center;
    gap: 25px;
    border: 1px solid #323b4c; /* Цвет рамки */
    border-radius: 25px; /* Закругленные углы */
    padding: 15px;
    margin-bottom: 10px; /* Внутренний отступ для контента */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}