body {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
}

.scroll-none {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

p{
  color: #323b4c;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}